In [1]:
import pandas as pd
parquet_file = "example.parquet"
df = pd.read_parquet(parquet_file, engine='pyarrow')

In [2]:
# show the first lines of a table
df.head()

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [12]:
# show selected column(s) of the table
df[["one", "two"]].head()

   one  two
a -1.0  foo
b  NaN  bar
c  2.5  baz

In [13]:
# filter rows by value
df[df["two"]=="foo"].head()

   one  two  three
a -1.0  foo   True

In [15]:
# filter rows by value
df[df["three"]==True].head()

   one  two  three
a -1.0  foo   True
c  2.5  baz   True

In [22]:
# filter rows by value
df[df["one"]>0].head()

   one  two  three
c  2.5  baz   True